#head-style{
    position: fixed;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
   
    
}
.btn-header{
    border-radius: 5px;
    border: none;
    color:gray;
    padding: 5px 20px;
    font-size: 25px;
}